:root {
    --main-color: #10375c;
    --bg-color-btn: #2e80ce;
    --text-white: #fff;
    --text-color-gray: #c9d2da;
}
html {
    font-family: "Sora", sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
}
.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
.btn {
    padding: 8px 0;
    display: inline-block;
    min-width: 104px;
    background: var(--bg-color-btn);
    color: var(--text-white);
    border-radius: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75;
    text-align: center;
    text-decoration: none;
    transition: ease 0.5s;
}
.btn:hover {
    background: var(--main-color);
    box-shadow: 0px 2px 11px 2px #ccc;
}
.section-heading {
    color: var(--main-color);
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}
.section-desc {
    margin-top: 18px;
    color: #575f66;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
}
/* ===== Header ========= */
.header {
    background: var(--main-color);
    min-height: 100vh;
}
.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.header__nav {
    display: flex;
    align-items: center;
}
.header__nav__link {
    margin: 0 21px;
    color: var(--text-color-gray);
    text-decoration: none;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.header__nav > li.active .header__nav__link,
.header__nav__link:hover {
    position: relative;
    color: var(--text-white);
    font-weight: 400;
}
.header__nav > li.active .header__nav__link::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
}
.header__logo {
    height: 3.1rem;
}
.header__cta .btn-login {
    margin-right: 28px;
    color: var(--text-color-gray);
    font-weight: 300;
    line-height: 1.75;
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.hero__content {
    width: 44%;
}
.hero__heading {
    color: var(--text-white);
    font-size: 70px;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}
.hero__desc {
    margin-top: 22px;
    color: var(--text-color-gray);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}
.hero__cta {
    margin-top: 38px;
}
.hero__btn {
    min-width: 205px;
    padding: 16px 0;
}
.hero__phone {
    color: var(--text-white);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
    margin-left: 38px;
}
.hero__media {
    flex: 1;
}
.hero__images {
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
}
.hero__img {
    border-radius: 6px;
    object-fit: cover;
}
.hero__images img:first-child {
    width: 330px;
    height: 540px;
}
.hero__images img:last-child {
    width: 210px;
    height: 410px;
}

/* ====== Services ========*/
.services {
    padding: 170px 0;
}
.services__heading,
.services__desc {
    text-align: center;
}
.services__desc {
    width: 486px;
    margin-left: auto;
    margin-right: auto;
}
.services__content {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.services__img {
    border-radius: 12px;
    width: 570px;
    height: 570px;
    object-fit: cover;
}
.services-item {
    display: flex;
    align-items: center;
    width: 470px;
    padding: 22px;
    border-radius: 12px;
    transition: ease 0.5s;
    cursor: pointer;
}
.services-item__title {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
}
.services-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.services-item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.services-item:hover .services-item__icon {
    background-image: url(../img/icon_service_hover.png);
}
.services-item__icon {
    display: block;
    min-width: 60px;
    height: 60px;
    background-image: url(../img/icon_service.png);
    background-repeat: no-repeat;
    margin-right: 19px;
    transition: ease 0.8s;
}
.services__btn {
    margin-top: 55px;
    min-width: 205px;
    padding: 16px 0;
}

/* ========= Work ============ */
.work {
    padding: 100px 0;
    background: #f6fbff;
}
.work__desc {
    width: 468px;
}
.work__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.work-item {
    padding: 42px;
    background: var(--text-white);
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    transition: 0.5s;
}
.work-item__icon {
    width: 72px;
    height: 72px;
    object-fit: cover;
}
.work-item__title {
    margin-top: 18px;
    color: var(--main-color);
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}
.work-item__desc,
.work-item__link {
    margin-top: 28px;
    color: #575f66;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}
.work-item__link {
    display: inline-block;
    margin-top: 18px;
    text-decoration: none;
}
.work-item:hover {
    border: 16px solid #2e80ce;
    transform: translateY(-16px);
}
.work-item:hover .work-item__link {
    color: #2e80ce;
    font-weight: 600;
}

/* ============= About ============= */
.about {
    padding: 70px 0;
    margin-top: 100px;
}
.about__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 130px;
}
.about__images {
    width: 50%;
    position: relative;
    padding-bottom: 121px;
    padding-right: 58px;
}
.about__images .about__img:first-child {
    width: 512px;
    height: 370px;
}
.about__images .about__img:last-child {
    width: 332px;
    height: 370px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.about__img {
    object-fit: cover;
    border-radius: 6px;
}
.about__btn {
    margin-top: 38px;
    min-width: 205px;
    padding: 16px 0;
}

/* ======== Team ============= */
.team {
    margin-top: 30px;
    padding: 70px 0;
}
.team-item__avatar {
    width: 262px;
    height: 290px;
    object-fit: cover;
}
.team__top {
    text-align: center;
}
.team__btn {
    margin-top: 38px;
    min-width: 205px;
    padding: 16px 0;
}
.team__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.team-item__avatar {
    border-radius: 6px;
    background: #eaf6ff;
    padding-top: 28px;
}
.team-item__name {
    margin-top: 12px;
    color: var(--main-color);
    text-align: center;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.team-item__address {
    color: #575f66;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.85;
}
.team__cta {
    text-align: center;
    margin-top: 38px;
}
.btn-next,
.btn-prev {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-left: 10px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
}
.btn-next i,
.btn-prev i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-next:hover,
.btn-prev:hover {
    background: #2e80ce;
    color: var(--text-white);
    border: 1px solid #2e80ce;
}

/* Install */
.install {
    margin-top: 125px;
    padding: 70px 0;
}
.install__inner {
    border-radius: 4px;
    background: #2e80ce;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}
.install__images {
    display: block;
    width: 284px;
    height: 522px;
    object-fit: cover;
    margin-top: -95px;
}
.install__content {
    width: 586px;
}
.install__title {
    max-width: 489px;
    color: #fff;
}
.install__desc {
    color: #fff;
}
.install__row {
    margin-top: 38px;
}
.install__img-app {
    margin-right: 28px;
}

/* News */
.news {
    margin-top: 30px;
    padding: 70px 0;
}
.news__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news__heading {
    max-width: 470px;
}
.news__link {
    margin: 28px 0;
    display: inline-block;
    color: #10375c;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.55; /* 155.556% */
    text-decoration-line: underline;
}
.news__list {
    display: flex;
    width: 570px;
    gap: 30px;
    flex-wrap: wrap;
}
.news-item {
    width: 270px;
    border-radius: 12px;
}
.news-item__info {
    padding: 22px;
    border-radius: 0 0 12px 12px;
    border: 1px solid #e8ebee;
    border-top: none;
    background: #fff;
}
.news-item__thumb {
    height: 172px;
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}
.news-item__thumbnail {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.news-item__title {
    color: var(--main-color);
    font-weight: 600;
    line-height: 1.62;
}
.news-item__desc {
    margin-top: 10px;
    color: #575f66;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
}
.news-item__link {
    display: inline-block;
    margin-top: 12px;
    color: var(--main-color);
    font-size: 14px;
    text-decoration: none;
}
.news-item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}
.news-item:hover .news-item__thumbnail {
    transform: scale(1.2);
}
.news-item:hover .news-item__link {
    color: #2e80ce;
    font-weight: bold;
}

/* Contact */
.contact {
    margin-top: 30px;
    padding: 70px 0;
}
.contact__info {
    padding: 100px 179px;
    background: #f6fbff;
    text-align: center;
}
.contact__heading {
    position: relative;
    padding-bottom: 18px;
}
.contact__heading::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 136px;
    height: 2px;
    background: #2e80ce;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.contact__desc {
    width: 617px;
    margin: 18px auto 38px;
}
.contact__btn {
    min-width: 205px;
    padding: 16px 0;
}

/* Footer */
.footer {
    margin-top: 100px;
    padding-top: 100px;
    background: var(--main-color);
    color: var(--text-white);
}
.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    column-gap: 78px;
    padding-bottom: 28px;
}
.footer__desc {
    margin-top: 20px;
    color: #a9b3bb;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
.footer__heading {
    margin-bottom: 14px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
}
.footer__link {
    display: inline-block;
    margin-bottom: 14px;
    text-decoration: none;
    color: #a9b3bb;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}
.footer__link:hover {
    color: #fff;
}
.footer__social {
    display: flex;
    align-items: center;
}
.footer__social-icon {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    background: var(--text-white);
    color: #2e80ce;
    transition: ease 0.5s;
}
.footer__social-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer__social-icon:hover {
    background: #2e80ce;
    color: var(--text-white);
}
.footer_form {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.footer_form input {
    width: 212px;
    height: 46px;
    padding: 0 10px;
    background: var(--main-color);
    border-radius: 4px;
    border: 1px solid #406181;
    color: #9ca8b1;
    background: transparent;
}
.footer_form input:focus {
    border: 1px solid #406181;
}

.footer-form__input::placeholder {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #9ca8b1;
}
.footer .btn-submit {
    border-radius: 4px;
    border: none;
    margin-left: 12px;
    padding: 11px 0;
    cursor: pointer;
}
.footer__bot {
    padding: 28px 0 48px;
    border-top: 1px solid #406181;
}
.footer__copy-right {
    text-align: center;
    color: #aab3ba;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.slick-slide {
    margin-left: 30px;
}
